{% extends "base.html" %}

{% block html_header %}
<title>{{ results.original_title }} - CNDB</title>
{% endblock %}

{% block html_body %}

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    {# 영화포스터#}
                    <img src="https://image.tmdb.org/t/p/w500{{ results.poster_path }}" alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					{# 영화제목, 연도#}
                    {% if results.original_title %}
                        <h1 class="bd-hd">{{ results.original_title }} <span>{{ results.release_date }}
                        <script type="text/javascript">
                            document.write({{ results.release_date }})
                            let released_date = new Date({{results.release_date}})
                            document.write(released_date.getFullYear())
                        </script>
                        </span></h1>
                    {% else %}
                        <h1 class="bd-hd">{{ results.name }}<span>{{ results.first_air_date }}</span></h1>
                    {% endif %}

                    <!-- 찜하기 -->
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-ios-heart-outline"></i> Add to Favorite</a>
					</div>

                    <div>

                    <span id="like_count">{{ like_count }}</span><br>
                    <input id="like_count_button"
                           onclick="location.href='/entmt_manage/like/?results_id={{ results.id }}&media_type={{ media_type }}'"

                           {% if like_status %}
{#                               style="background-color:hotpink"#}
                           style="background-color:darkmagenta"
                           {% else %}
                               style="background-color:white"
                           {% endif %}
                           type="button" value="찜하기">

{#                    <form method="GET" action="{% url 'entmt_info:e_results' %}">#}
{#                    <div id="search">#}
{#                        <input name="search" type="text">#}
{#                        <button class="btn btn-primary" type="submit">찜하기</button>#}
{#                    </div>#}
{#                    </form>#}
                    </div><br>

                <!-- 하트 애니메이션 -->
                <div>
                <div>
                    <button type="button" class="btn_like">
                        <div>
                            <i class="img_emoti"></i>
                            <i class="ani_heart_m"></i>
                        </div>
                    </button>
                </div>
                    <div class="social-btn">
						<a href="#" class="parent-btn">Add to Favorite</a>
					</div>
{#                </div><br>#}
                    <!-- 별점 평균/매기기 시작 -->
					<div class="movie-rate">

{#						<div class="rate">#}
{#							<i class="ion-android-star"></i>#}
{#							<p><span>8.1</span> /10<br>#}
{#								<span class="rv">56 Reviews</span>#}
{#							</p>#}
{#						</div>#}

                    <!-- 영화 별점 평균 -->
                    <div class="rate">
                        <i class="ion-android-star"></i>

                        <p><span>
                        {% if media_type == 'movie' %}
                        <script type="text/javascript">
                        var sum = 0
                        var length = 0
                        {% for comment in comments %}
                            length += 1
                            sum += {{ comment.mc_star }}
                        {% endfor %}
                        {% if comment_status %}
                            length += 1
                            sum += {{ comment_status.mc_star }}
                        {% endif %}
                        var avg = sum/length
                        document.write(avg.toFixed(1))
                        document.write('/5', '<br />')
                        </script>

                        <!-- tv 시리즈 별점 평균 -->
                        {% elif media_type == 'tv' %}

                        <script type="text/javascript">
                        var sum = 0
                        var length = 0
                        {% for comment in comments %}
                            length += 1
                            sum += {{ comment.sc_star }}
                        {% endfor %}
                        {% if comment_status %}
                            length += 1
                            sum += {{ comment_status.sc_star }}
                        {% endif %}
                        var avg = sum/length
                        document.write(avg.toFixed(1))
                        document.write('/5', '<br />')
                        </script>
                        {% endif %}
                        </span>

                        <span class="rv"><script type="text/javascript">
                                var count = 0
                                count = {{ comments.count }} + 1
                                document.write(count)
                            </script> Reviews</span></p>
    {#                    <span class="rv">{{ comments.count }} Reviews</span></p>#}
                        </div>
                        <!-- 미디어 별점 평균 끝 -->
                            <!-- 별점 -->
    {#						<div class="rate-star">#}
    {#							<p>Rate This Movie:  </p>#}
    {#							<i class="ion-ios-star"></i>#}
    {#							<i class="ion-ios-star-outline"></i>#}
    {#						</div>#}
					</div>
                    <!-- 별점 평균 끝 -->

                    <!-- 로그인 상태에서만 리뷰 입력 폼 보이게 설정 -->
                    {% if user.is_authenticated %}

                    <!-- 리뷰 등록 폼 시작 -->
{#                  <div class="col-md-9 col-sm-12 col-xs-12">#}
                    <div class="form-style-1 user-pro" action="#" >
                    <form action="{% url 'entmt_info:submit_comment' results.id media_type %}" method="POST">
                    {% csrf_token %}

                    <!-- 알림 메시지 -->
                    {% if messages %}
                       {% for message in messages %}
                            {% if message.tags == "error"%}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% else %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- 메시지 끝-->

                    <h4>Post Your Review</h4>

                    <!-- 별점 매기기 시작-->
                    <div class="myrate">
                        <!-- 영화일 때 별점 -->
                        {% if media_type == 'movie' %}
                        <input type="radio" name="mc_star" id="rating10" value="5" required {% if comment_status.mc_star == 5 %} checked {% endif %} />
                        <label for="rating10" title="5"></label>
                        <input type="radio" name="mc_star" id="rating9" value="4.5" required {% if comment_status.mc_star == 4.5 %} checked {% endif %} />
                        <label for="rating9" title="4.5" class="half"></label>
                        <input type="radio" name="mc_star" id="rating8" value="4" required {% if comment_status.mc_star == 4 %} checked {% endif %} />
                        <label for="rating8" title="4"></label>
                        <input type="radio" name="mc_star" id="rating7" value="3.5" required {% if comment_status.mc_star == 3.5 %} checked {% endif %} />
                        <label for="rating7" title="3.5" class="half"></label>
                        <input type="radio" name="mc_star" id="rating6" value="3" required {% if comment_status.mc_star == 3 %} checked {% endif %} />
                        <label for="rating6" title="3"></label>
                        <input type="radio" name="mc_star" id="rating5" value="2.5" required {% if comment_status.mc_star == 2.5 %} checked {% endif %} />
                        <label for="rating5" title="2.5" class="half"></label>
                        <input type="radio" name="mc_star" id="rating4" value="2" required {% if comment_status.mc_star == 2 %} checked {% endif %} />
                        <label for="rating4" title="2"></label>
                        <input type="radio" name="mc_star" id="rating3" value="1.5" required {% if comment_status.mc_star == 1.5 %} checked {% endif %} />
                        <label for="rating3" title="1.5" class="half"></label>
                        <input type="radio" name="mc_star" id="rating2" value="1" required {% if comment_status.mc_star == 1 %} checked {% endif %} />
                        <label for="rating2" title="1"></label>
                        <input type="radio" name="mc_star" id="rating1" value="0.5" required {% if comment_status.mc_star == 0.5 %} checked {% endif %} />
                        <label for="rating1" title="0.5" class="half"></label>

                        <!-- 시리즈일 때 별점 -->
                        {% elif media_type == 'tv' %}
                        <input type="radio" name="sc_star" id="rating10" value="5" required {% if comment_status.sc_star == 5 %} checked {% endif %} />
                        <label for="rating10" title="5"></label>
                        <input type="radio" name="sc_star" id="rating9" value="4.5" required {% if comment_status.sc_star == 4.5 %} checked {% endif %} />
                        <label for="rating9" title="4.5" class="half"></label>
                        <input type="radio" name="sc_star" id="rating8" value="4" required {% if comment_status.sc_star == 4 %} checked {% endif %} />
                        <label for="rating8" title="4"></label>
                        <input type="radio" name="sc_star" id="rating7" value="3.5" required {% if comment_status.sc_star == 3.5 %} checked {% endif %} />
                        <label for="rating7" title="3.5" class="half"></label>
                        <input type="radio" name="sc_star" id="rating6" value="3" required {% if comment_status.sc_star == 3 %} checked {% endif %} />
                        <label for="rating6" title="3"></label>
                        <input type="radio" name="sc_star" id="rating5" value="2.5" required {% if comment_status.sc_star == 2.5 %} checked {% endif %} />
                        <label for="rating5" title="2.5" class="half"></label>
                        <input type="radio" name="sc_star" id="rating4" value="2" required {% if comment_status.sc_star == 2 %} checked {% endif %} />
                        <label for="rating4" title="2"></label>
                        <input type="radio" name="sc_star" id="rating3" value="1.5" required {% if comment_status.sc_star == 1.5 %} checked {% endif %} />
                        <label for="rating3" title="1.5" class="half"></label>
                        <input type="radio" name="sc_star" id="rating2" value="1" required {% if comment_status.sc_star == 1 %} checked {% endif %} />
                        <label for="rating2" title="1"></label>
                        <input type="radio" name="sc_star" id="rating1" value="0.5" required {% if comment_status.sc_star == 0.5 %} checked {% endif %} />
                        <label for="rating1" title="0.5" class="half"></label>
                        {% endif %}
                    </div>
                    <!-- 별점 매기기 끝 -->

            <!-- 새 리뷰 등록 시 -->
            {% if comment_status == False %}
                <!-- 영화일 때 리뷰 입력 -->
                {% if media_type == 'movie' %}
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Title</label>
                        <input type="text" class="form-control" name="mc_title"
{#                               style="width: 300px;"#}
                               value={{ comment_status.mc_title }}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Content</label>
                        <textarea name="mc_content" rows="3" cols="10"
                                  style="background-color: #233A50; border-radius: .5em;
                                  border: 1px solid #0F2133; color: white;"
                                  class="form-control"
{#                                  style="width: 5000px; height: 100px;"#}
                                  >{{ comment_status.mc_content }}</textarea>
                    </div>
                </div>
                <!-- 영화일 때 리뷰 입력 끝 -->

                <!-- 시리즈일 때 리뷰 입력 -->
                {% elif media_type == 'tv' %}
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Title</label>
                        <input type="text" class="form-control" name="sc_title"
{#                               style="width: 300px;"#}
                               value={{ comment_status.sc_title }}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Content</label>
                        <textarea name="sc_content" rows="3" cols="10"
                                  style="background-color: #233A50; border-radius: .5em;
                                  border: 1px solid #0F2133; color: white;"
                                  class="form-control"
{#                                  style="width: 5000px; height: 100px;"#}
                                  >{{ comment_status.sc_content }}</textarea>
                    </div>
                </div>

                {% endif %}
                <!-- 시리즈일 때 리뷰 입력 끝-->
                <button type="submit" class="redbtn"
                    style="width:130px;
                    border-radius: .5em;
                    border: 1px solid #0F2133;
                    background-color: #FD9F28;
                    padding: 10px 10px;
                    vertical-align: middle;
                    ">Write Review</button>

            <!-- 기존 리뷰 업데이트/삭제 시 -->
            {% else %}
            {% if media_type == 'movie' %}
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Title</label>
                        <input type="text" class="form-control" name="mc_title"
{#                               style="width: 300px;"#}
                               value={{ comment_status.mc_title }}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Content</label>
                        <textarea name="mc_content" rows="5" cols="10"
                                  style="background-color: #233A50; border-radius: .5em;
                                  border: 1px solid #0F2133; color: white;"
                                  class="form-control"
{#                                  style="width: 5000px; height: 100px;"#}
                                  >{{ comment_status.mc_content }}</textarea>
                    </div>
                </div>

            <!-- tv 시리즈일 때 리뷰 입력 -->
            {% elif media_type == 'tv' %}
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Title</label>
                        <input type="text" class="form-control" name="sc_title"
{#                               style="width: 300px;"#}
                               value={{ comment_status.sc_title }}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Content</label>
                        <textarea name="sc_content" rows="5" cols="10"
                                  style="background-color: #233A50; border-radius: .5em;
                                  border: 1px solid #0F2133; color: white;"
                                  class="form-control"
{#                                  style="width: 5000px; height: 100px;"#}
                                  >{{ comment_status.sc_content }}</textarea>
                    </div>
                </div>
                <!-- tv 시리즈 리뷰 입력 끝 -->
            {% endif %}

            <br>
                <button type="submit" class="redbtn"
                    style="width:130px;
                    border-radius: .5em;
                    border: 1px solid #0F2133;
                    background-color: #FD9F28;
                    padding: 10px 10px;
                    vertical-align: middle;
                    ">Update Review</button>

            <button type="button" class="redbtn"
                    onclick="location.href='/entmt_info/delete_comment/{{ comment_status.id }}/{{ media_type }}/'"
                    style="width:80px;
                    border-radius: .5em;
                    border: 1px solid #0F2133;
                    padding: 10px 10px;
                    vertical-align: middle;
                    ">Delete</button>
        {% endif %}
                        </form>
                    </div>
                <!-- 리뷰 등록 폼 끝 -->
                {% endif %}
                <!-- 로그인 if문 끝 -->

					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews">Reviews</a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		{# 영화 내용 #}
                                            <p>{{ results.overview }}</p>
											<div class="title-hd-sm">
												<h4>User reviews</h4>
{#												<a href="#" class="time">See All {{ comments.count }} Reviews <i class="ion-ios-arrow-right"></i></a>#}
											</div>

                                            <!-- 영화일 때 -->
                                            {% if media_type == 'movie' %}

											<!-- movie user review -->
											<div class="mv-user-review-item">
                                                <!-- 리뷰 제목 -->
{#												<h3>Best Marvel movie in my opinion</h3>#}
                                                <h3>{{ comment_status.mc_title }}</h3>

                                                <!-- 내 별점 -->
                                                <div style="color: #abb7c4;">
                                                    <div class="myrated">
                                                        <input type="radio" value="5" readonly {% if comment_status.mc_star == 5 %} checked {% endif %}/>
                                                        <label title="5"></label>
                                                        <input type="radio" value="4.5" readonly {% if comment_status.mc_star == 4.5 %} checked {% endif %}/>
                                                        <label title="4.5" class="half"></label>
                                                        <input type="radio" value="4" readonly {% if comment_status.mc_star == 4 %} checked {% endif %}/>
                                                        <label title="4"></label>
                                                        <input type="radio" value="3.5" readonly {% if comment_status.mc_star == 3.5 %} checked {% endif %}/>
                                                        <label title="3.5" class="half"></label>
                                                        <input type="radio" value="3" readonly {% if comment_status.mc_star == 3 %} checked {% endif %}/>
                                                        <label title="3"></label>
                                                        <input type="radio" value="2.5" readonly {% if comment_status.mc_star == 2.5 %} checked {% endif %}/>
                                                        <label title="2.5" class="half"></label>
                                                        <input type="radio" value="2" readonly {% if comment_status.mc_star == 2 %} checked {% endif %}/>
                                                        <label title="2"></label>
                                                        <input type="radio" value="1.5" readonly {% if comment_status.mc_star == 1.5 %} checked {% endif %}/>
                                                        <label title="1.5" class="half"></label>
                                                        <input type="radio" value="1" readonly {% if comment_status.mc_star == 1 %} checked {% endif %}/>
                                                        <label title="1"></label>
                                                        <input type="radio" value="0.5" readonly {% if comment_status.mc_star == 0.5 %} checked {% endif %}/>
                                                        <label title="0.5" class="half"></label>
                                                    </div>
                                                </div>
                                                <!-- 내 별점 끝 -->

                                                <!-- 내 리뷰 제목/내용 -->
                                                {% if comment_status %}
												<p class="time">
                                                    {{ comment_status.mc_date }} by
                                                    <span style="color: #1F88BE;"> {{ comment_status.mc_member }}</span>
												</p>
                                                {% endif %}
												<p>{{ comment_status.mc_content}}</p>
											</div>
                                            <!-- 내 영화 리뷰 끝 -->

                                            <!-- 시리즈일 때 -->
                                            {% elif media_type == 'tv' %}
                                            <!-- tv series user review -->
											<div class="mv-user-review-item">
                                                <!-- 리뷰 제목 -->
                                                <h3>{{ comment_status.sc_title }}</h3>

                                                <!-- 내 별점 -->
												<div style="color: #abb7c4;">
                                                    <div class="myrated">
                                                        <input type="radio" value="5" readonly {% if comment_status.sc_star == 5 %} checked {% endif %}/>
                                                        <label title="5"></label>
                                                        <input type="radio" value="4.5" readonly {% if comment_status.sc_star == 4.5 %} checked {% endif %}/>
                                                        <label title="4.5" class="half"></label>
                                                        <input type="radio" value="4" readonly {% if comment_status.sc_star == 4 %} checked {% endif %}/>
                                                        <label title="4"></label>
                                                        <input type="radio" value="3.5" readonly {% if comment_status.sc_star == 3.5 %} checked {% endif %}/>
                                                        <label title="3.5" class="half"></label>
                                                        <input type="radio" value="3" readonly {% if comment_status.sc_star == 3 %} checked {% endif %}/>
                                                        <label title="3"></label>
                                                        <input type="radio" value="2.5" readonly {% if comment_status.sc_star == 2.5 %} checked {% endif %}/>
                                                        <label title="2.5" class="half"></label>
                                                        <input type="radio" value="2" readonly {% if comment_status.sc_star == 2 %} checked {% endif %}/>
                                                        <label title="2"></label>
                                                        <input type="radio" value="1.5" readonly {% if comment_status.sc_star == 1.5 %} checked {% endif %}/>
                                                        <label title="1.5" class="half"></label>
                                                        <input type="radio" value="1" readonly {% if comment_status.sc_star == 1 %} checked {% endif %}/>
                                                        <label title="1"></label>
                                                        <input type="radio" value="0.5" readonly {% if comment_status.sc_star == 0.5 %} checked {% endif %}/>
                                                        <label title="0.5" class="half"></label>
                                                    </div>
                                                </div>
                                                <!-- 내 별점 끝 -->

                                                <!-- 내 리뷰 제목/내용 -->
                                                {% if comment_status %}
												<p class="time">
                                                    {{ comment_status.sc_date }} by
                                                    <span style="color: #1F88BE;"> {{ comment_status.sc_member }}</span>
												</p>
                                                {% endif %}
												<p>{{ comment_status.sc_content}}</p>
											</div>
                                            <!-- 내 시리즈 리뷰 끝 -->
                                            {% endif %}
						            	</div>
                                    <!-- ENT ADD INFO -->
                                    <div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
                                                <p>
                                                    {% for genre in results.genres %}
                                                        <a>{{ genre.name }}  </a>
                                                    {% endfor %}
                                                </p>
{#						            			<p><a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a></p>#}
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{ results.release_date }}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{ results.runtime }} min.</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Spoken Languages:</h6>
                                                {% for lang in results.spoken_languages %}
						            			    <p>- {{ lang.english_name }}</p>
                                                {% endfor %}
						            		</div>
                                            <div class="sb-it">
						            			<h6>Budget:</h6>
						            			<p>
                                                    <script type="text/javascript">
                                                        var budget_re = {{ results.budget }}
                                                        document.write(budget_re.toLocaleString('ko-KR'))</script> $</p>
						            		</div>
                                            <div class="sb-it">
						            			<h6>Revenue:</h6>
						            			<p>
                                                    <script type="text/javascript">
                                                        var revenue_re = {{ results.revenue }}
                                                        document.write(revenue_re.toLocaleString('ko-KR'))</script> $</p>
						            		</div>
                                        </div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>Related Movies To</h3>
						       	 				<h2>Skyfall: Quantum of Spectre</h2>
							            	</div>
{#							            	<a href="#" class="redbtn">Write Review</a>#}
						            	</div>
						            	<div class="topbar-filter">

											<p>Found <span class="rv"><script type="text/javascript">
                                                var count = 0
                                                count = {{ comments.count }} + 1
                                                document.write(count)
                                            </script> Reviews</span> in total</p>
{#                                            <p>Found <span>{{ comments.count }} reviews</span> in total</p>#}
											<label>Filter by:</label>
											<select>
												<option value="popularity">Popularity Descending</option>
												<option value="popularity">Popularity Ascending</option>
												<option value="rating">Rating Descending</option>
												<option value="rating">Rating Ascending</option>
												<option value="date">Release date Descending</option>
												<option value="date">Release date Ascending</option>
											</select>
										</div>

                                        {% if comment_status %}
										<div class="mv-user-review-item">
											<div class="user-infor">

                                                <!-- 내 프로필 이미지 -->
                                                <img class="profile" src="{{ user.u_image.url }}">
{#												<img src="/static/images/uploads/userava1.jpg" alt="">#}
												<div>

                                                <!-- 영화일 때 내 리뷰 -->
                                                {% if media_type == 'movie' %}
                                                <!-- 전체 리뷰 중 나의 리뷰 제목 -->
{#												<h3>Best Marvel movie in my opinion</h3>#}
                                                <h3>{{ comment_status.mc_title }}</h3>

                                                <!-- 전체 리뷰 중 내 별점 -->
                                                <div style="color: #abb7c4;">
                                                    <div class="myrated">
                                                        <input type="radio" value="5" readonly {% if comment_status.mc_star == 5 %} checked {% endif %}/>
                                                        <label title="5"></label>
                                                        <input type="radio" value="4.5" readonly {% if comment_status.mc_star == 4.5 %} checked {% endif %}/>
                                                        <label title="4.5" class="half"></label>
                                                        <input type="radio" value="4" readonly {% if comment_status.mc_star == 4 %} checked {% endif %}/>
                                                        <label title="4"></label>
                                                        <input type="radio" value="3.5" readonly {% if comment_status.mc_star == 3.5 %} checked {% endif %}/>
                                                        <label title="3.5" class="half"></label>
                                                        <input type="radio" value="3" readonly {% if comment_status.mc_star == 3 %} checked {% endif %}/>
                                                        <label title="3"></label>
                                                        <input type="radio" value="2.5" readonly {% if comment_status.mc_star == 2.5 %} checked {% endif %}/>
                                                        <label title="2.5" class="half"></label>
                                                        <input type="radio" value="2" readonly {% if comment_status.mc_star == 2 %} checked {% endif %}/>
                                                        <label title="2"></label>
                                                        <input type="radio" value="1.5" readonly {% if comment_status.mc_star == 1.5 %} checked {% endif %}/>
                                                        <label title="1.5" class="half"></label>
                                                        <input type="radio" value="1" readonly {% if comment_status.mc_star == 1 %} checked {% endif %}/>
                                                        <label title="1"></label>
                                                        <input type="radio" value="0.5" readonly {% if comment_status.mc_star == 0.5 %} checked {% endif %}/>
                                                        <label title="0.5" class="half"></label>
                                                    </div>
                                                </div>
                                                <!-- 전체 리뷰 중 내 별점 끝 -->

                                                <!-- 전체 리뷰 중 내 리뷰 제목/내용 -->
												<p class="time">
                                                    {{ comment_status.mc_date }} by
                                                    <span style="color: #1F88BE;"> {{ comment_status.mc_member }}</span>
												</p>
												<p>{{ comment_status.mc_content}}</p>

                                                <!-- 전체 리뷰 중 내 영화 리뷰 끝 -->

                                                <!-- 시리즈일 때 내 리뷰 -->
                                                {% elif media_type == 'tv' %}
                                                <!-- 전체 리뷰 중 나의 리뷰 제목 -->
{#												<h3>Best Marvel movie in my opinion</h3>#}
                                                <h3>{{ comment_status.sc_title }}</h3>

                                                <!-- 전체 리뷰 중 내 별점 -->
												<div class="no-star">
                                                    {% if comment_status.sc_star == 0.5 %}
                                                    <i class="ion-android-star-half"></i>
                                                        <i class="ion-android-star last"></i> <i class="ion-android-star last"></i> <i class="ion-android-star last"></i> <i class="ion-android-star last"></i>
                                                    {% elif comment_status.sc_star == 1.0 %}
                                                    <i class="ion-android-star"></i>
                                                        <i class="ion-android-star last"></i> <i class="ion-android-star last"></i> <i class="ion-android-star last"></i> <i class="ion-android-star last"></i>
                                                    {% elif comment_status.sc_star == 1.5 %}
                                                    <i class="ion-android-star"></i> <i class="ion-android-star-half"></i>
                                                        <i class="ion-android-star last"></i> <i class="ion-android-star last"></i> <i class="ion-android-star last"></i>
                                                    {% elif comment_status.sc_star == 2.0 %}
                                                    <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star last"></i> <i class="ion-android-star last"></i> <i class="ion-android-star last"></i>
                                                    {% elif comment_status.sc_star == 2.5 %}
                                                    <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star-half"></i>
                                                        <i class="ion-android-star last"></i> <i class="ion-android-star last"></i>
                                                    {% elif comment_status.sc_star == 3.0 %}
                                                    <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star last"></i> <i class="ion-android-star last"></i>
                                                    {% elif comment_status.sc_star == 3.5 %}
                                                    <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i> <i class="ion-android-star-half"></i>
                                                        <i class="ion-android-star last"></i>
                                                    {% elif comment_status.sc_star == 4.0 %}
                                                    <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star last"></i>
                                                    {% elif comment_status.sc_star == 4.5 %}
                                                    <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star-half"></i>
                                                    {% elif comment_status.sc_star == 5.0 %}
                                                    <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i> <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                    {% endif %}
												</div>
                                                <!-- 전체 리뷰 중 내 별점 끝 -->

                                                <!-- 전체 리뷰 중 내 리뷰 제목/내용 -->
												<p class="time">
                                                    {{ comment_status.sc_date }} by
                                                    <span style="color: #1F88BE;"> {{ comment_status.sc_member }}</span>
												</p>
												<p>{{ comment_status.sc_content}}</p>
                                                {% endif %}
                                                <!-- 전체 리뷰 중 내 시리즈 리뷰 끝 -->

												</div>
											</div>
										</div>
                                        {% endif %}

                                        <!-- 다른 회원들의 리뷰 시작 -->
                                        <!-- 영화일 때 다른 회원들 리뷰 시작 -->
                                        {% if media_type == 'movie' %}
                                            {% for comment in comments %}

{#                                                {% if comment != comment_status %}#}
                                            <div class="mv-user-review-item">
                                                <div class="user-infor">
                                                    <!-- 다른 회원의 프로필 이미지 -->
{#                                                    <div class="box" style="background: #BDBDBD;">#}
{#                                                        <img class="profile" src="{{ comment.mc_member.u_image.url }}">#}
{#                                                    </div><br>#}
                                                    <img class="profile" style="border-radius: 70%;"
                                                         src="{{ comment.mc_member.u_image.url }}">
    {#												<img src="/static/images/uploads/userava1.jpg" alt="">#}
                                                    <div>

                                                    <!-- 다른 회원의 리뷰 제목 -->
    {#												<h3>Best Marvel movie in my opinion</h3>#}
                                                    <h3>{{ comment.mc_title }}</h3>

                                                    <!-- 다른 회원의 별점 -->
                                                    <div style="color: #abb7c4;">
                                                        <div class="myrated">
                                                            <input type="radio" value="5" readonly {% if comment.mc_star == 5 %} checked {% endif %}/>
                                                            <label title="5"></label>
                                                            <input type="radio" value="4.5" readonly {% if comment.mc_star == 4.5 %} checked {% endif %}/>
                                                            <label title="4.5" class="half"></label>
                                                            <input type="radio" value="4" readonly {% if comment.mc_star == 4 %} checked {% endif %}/>
                                                            <label title="4"></label>
                                                            <input type="radio" value="3.5" readonly {% if comment.mc_star == 3.5 %} checked {% endif %}/>
                                                            <label title="3.5" class="half"></label>
                                                            <input type="radio" value="3" readonly {% if comment.mc_star == 3 %} checked {% endif %}/>
                                                            <label title="3"></label>
                                                            <input type="radio" value="2.5" readonly {% if comment.mc_star == 2.5 %} checked {% endif %}/>
                                                            <label title="2.5" class="half"></label>
                                                            <input type="radio" value="2" readonly {% if comment.mc_star == 2 %} checked {% endif %}/>
                                                            <label title="2"></label>
                                                            <input type="radio" value="1.5" readonly {% if comment.mc_star == 1.5 %} checked {% endif %}/>
                                                            <label title="1.5" class="half"></label>
                                                            <input type="radio" value="1" readonly {% if comment.mc_star == 1 %} checked {% endif %}/>
                                                            <label title="1"></label>
                                                            <input type="radio" value="0.5" readonly {% if comment.mc_star == 0.5 %} checked {% endif %}/>
                                                            <label title="0.5" class="half"></label>
                                                        </div>
                                                    </div>

                                                    <p class="time">
                                                    {{ comment.mc_date }} by
                                                    <span style="color: #1F88BE;"> {{ comment.mc_member }}</span>
                                                    </p>
                                                    <p>{{ comment.mc_content}}</p>
                                                    </div>
                                                </div>
                                            </div>
{#                                                {% endif %}#}
                                            {% endfor %}

                                        <!-- 시리즈 일때 다른 회원들 리뷰 시작 -->
                                        {% elif media_type == 'tv' %}
                                            {% for comment in comments %}
                                            <div class="mv-user-review-item">
                                                <div class="user-infor">
                                                    <!-- 다른 회원의 프로필 이미지 -->
                                                    <img class="profile" src="{{ comment.sc_member.u_image.url }}">
                                                    <div>

                                                    <!-- 다른 회원의 리뷰 제목 -->
                                                    <h3>{{ comment.sc_title }}</h3>

                                                    <!-- 다른 회원의 별점 -->
                                                    <div style="color: #abb7c4;">
                                                        <div class="myrated">
                                                            <input type="radio" value="5" readonly {% if comment.sc_star == 5 %} checked {% endif %}/>
                                                            <label title="5"></label>
                                                            <input type="radio" value="4.5" readonly {% if comment.sc_star == 4.5 %} checked {% endif %}/>
                                                            <label title="4.5" class="half"></label>
                                                            <input type="radio" value="4" readonly {% if comment.sc_star == 4 %} checked {% endif %}/>
                                                            <label title="4"></label>
                                                            <input type="radio" value="3.5" readonly {% if comment.sc_star == 3.5 %} checked {% endif %}/>
                                                            <label title="3.5" class="half"></label>
                                                            <input type="radio" value="3" readonly {% if comment.sc_star == 3 %} checked {% endif %}/>
                                                            <label title="3"></label>
                                                            <input type="radio" value="2.5" readonly {% if comment.sc_star == 2.5 %} checked {% endif %}/>
                                                            <label title="2.5" class="half"></label>
                                                            <input type="radio" value="2" readonly {% if comment.sc_star == 2 %} checked {% endif %}/>
                                                            <label title="2"></label>
                                                            <input type="radio" value="1.5" readonly {% if comment.sc_star == 1.5 %} checked {% endif %}/>
                                                            <label title="1.5" class="half"></label>
                                                            <input type="radio" value="1" readonly {% if comment.sc_star == 1 %} checked {% endif %}/>
                                                            <label title="1"></label>
                                                            <input type="radio" value="0.5" readonly {% if comment.sc_star == 0.5 %} checked {% endif %}/>
                                                            <label title="0.5" class="half"></label>
                                                        </div>
                                                    </div>

                                                    <p class="time">
                                                    {{ comment.mc_date }} by
                                                    <span style="color: #1F88BE;"> {{ comment.sc_member }}</span>
                                                    </p>
                                                    <p>{{ comment.sc_content}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        <!-- 시리즈 일때 다른 회원들 리뷰 끝 -->
                                        {% endif %}
                                        <!-- 다른 회원들 리뷰 끝 -->

{#										<div class="topbar-filter">#}
{#											<label>Reviews per page:</label>#}
{#											<select>#}
{#												<option value="range">5 Reviews</option>#}
{#												<option value="saab">10 Reviews</option>#}
{#											</select>#}
{#											<div class="pagination2">#}
{#												<span>Page 1 of 6:</span>#}
{#												<a class="active" href="#">1</a>#}
{#												<a href="#">2</a>#}
{#												<a href="#">3</a>#}
{#												<a href="#">4</a>#}
{#												<a href="#">5</a>#}
{#												<a href="#">6</a>#}
{#												<a href="#"><i class="ion-arrow-right-b"></i></a>#}
{#											</div>#}
{#										</div>#}

						            </div>
						        </div>
						    </div>
						</div>
					</div>
                    <!-- 다른 회원들의 리뷰 끝 -->

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}