{% extends 'base.html' %}

{% block html_body %}
<br>
<div class="container">

<!-- 비밀번호 변경 완료/오류 메시지 -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error"%}
            <div class="alert alert-danger" style="text-align: center;">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success" style="text-align: center;">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- 제목 -->
<fieldset class="form-group">
    <legend class="border-bottom mb-4" style="text-align: center;">
        비밀번호 변경</legend>
</fieldset>

  <form method="POST" action="{% url 'users:change_password' %}" style="text-align: center;">
    {% csrf_token %}
    현재 비밀번호 :
    <input name="origin_password" type="password">
    <br><br>
    새 비밀번호 :
    <input name="new_password" type="password">
    <br><br>
    새 비밀번호 확인 :
    <input name="confirm_password" type="password">
    <br><br>
    <input class="btn btn-outline-info" type="submit" value="변경하기">
  </form>
</div>

{% endblock %}
