{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block html_body %}
<br>

<div class="container my-3">
<!-- 선호장르 변경 완료/오류 메시지 -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error"%}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<form action="{% url 'users:edit_genre' %}" method="post">
{% csrf_token %}
    <legend class="border-bottom mb-4">선호 장르 등록</legend>
        {% for obj in genres %}
{#            {{ obj.genre }}<br>#}
{#            {{ obj.status }}<br>#}
        <input id="selected" type="checkbox" name="selected" value="{{ obj.genre.genre_id }}"
            {% if obj.status %} checked
            {% endif %}> {{ obj.genre }}<br>
        {% endfor %}<br>
        <button type="submit">저장</button>
</form>

<br>
</div>

{% endblock %}
