{% extends 'base.html' %}

{% block html_header %}
<title>CNDB: preference</title>

{#    <meta charset="utf-8">#}
{#    <title>CSS</title>#}
{#    <style>#}
{#      input[id="b"] {#}
{#        position: relative;#}
{#        top: 1.5px;#}
{#      }#}
{#      label[for="c"] {#}
{#        position: relative;#}
{#        top: -1.5px;#}
{#      }#}
{#    </style>#}

{% endblock %}

{% block html_body %}

<!--선호 장르 목록-->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>{{ user.username }}'s Preference</h1>
					<ul class="breadcumb">
						<li class="active"><a href={% url 'entmt_info:homepage' %}>Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>my preference</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
                    <!-- 프로필 이미지 -->
					<div class="user-img">
                        <div class="box" style="background: #BDBDBD;">
                            <img class="profile" src="{{ user.u_image.url }}">
                        </div><br>

                        <!-- 회원 이름 -->
                        <h4 style="color: #fff;">{{ user.username }}’s profile</h4><br>
					</div>

                    <div class="user-fav">
                        <p>My Activity</p>
						<ul>
                            <li><a href={% url 'users:favorite' %}>Favorite media</a></li>
                            <li><a href={% url 'users:ratings' %}>My ratings</a></li>
						</ul>
					</div>
                    <div class="user-fav">
						<p>Update Profile</p>
						<ul>
							<li><a href="{% url 'users:profile' %}">Profile</a></li>
                            <li class="active"><a href="{% url 'users:preference' %}">My preference</a></li>
                            <li><a href="{% url 'users:change_password' %}">Change password</a></li>
						</ul>
					</div>
                    <div class="user-fav">
						<ul>
							<li><a href="{% url 'users:logout' %}">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
{#				<div class="topbar-filter user">#}
{#					<p>Found <span>{{ list_length }} movies</span> in total</p>#}
{#					<label>Sort by:</label>#}
{#					<select>#}
{#						<option value="range">-- Choose option --</option>#}
{#						<option value="saab">-- Choose option 2--</option>#}
{#					</select>#}
{#					<a href="userfavoritelist.html" class="list"><i class="ion-ios-list-outline "></i></a>#}
{#					<a  href="userfavoritegrid.html" class="grid"><i class="ion-grid active"></i></a>#}
{#				</div>#}
{#				<div class="flex-wrap-movielist grid-fav">#}
{#                    {% for movie in movie_list %}#}
{#                        <div class="movie-item-style-2 movie-item-style-1 style-3">#}
{#                            <img src="https://image.tmdb.org/t/p/w200{{ movie.m_posterPath }}" alt="">#}
{#                            <div class="hvr-inner">#}
{#	            				<a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>#}
{#	            			</div>#}
{#                            <div class="mv-item-infor">#}
{#                                <h6><a href="moviesingle.html">{{ movie.m_title }}</a></h6>#}
{#								<p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>#}
{#							</div>#}
{#						</div>#}
{#                    {% endfor %}#}
{#				</div>#}
                <div class="container my-3">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="form-style-1 user-pro" action="#">
                            <form action="{% url 'users:edit_genre' %}" method="post">
                            {% csrf_token %}

                            <!-- 선호장르 변경 완료/오류 메시지 -->
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == "error"%}
                                        <div class="alert alert-danger">
                                            {{ message }}
                                        </div>
                                    {% else %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}<br>
                            <!-- 선호장르 변경 완료/오류 메시지 끝-->


{#                                <legend class="border-bottom mb-4">선호 장르 등록</legend>#}

{#                            <div class="col-md-9 col-sm-12 col-xs-12">#}
                                    <!-- 회원정보 변경 -->
                                        <h4>Select your preferred genres:</h4>

                               {% for obj in genres %}
                                    <div class="col-md-3 col-sm-3 col-xs-3">

{#                                    <div class="row">#}
{#                                        <div class="col-md-2">#}

                                    <!-- 체크박스 변경 -->
{#                                    <div class="col-md-9">#}
{#                                    <div class="col-md-9 col-sm-12 col-xs-12">#}
                                        <div class="form-style-1"
                                             style="width: 110px; height: 100px;"
{#                                             style="position: relative"#}
{#                                             style="float:left;"#}
                                        >
                                        <div
{#                                                style="float:left;"#}
                                        >
                                            <input id="selected_{{ obj.genre.genre_id }}"
{#                                                   style="top: 1.5px;"#}
                                                   type="checkbox"
{#                                                   style="text-align: center"#}
                                                   name="selected"
                                                   value="{{ obj.genre.genre_id }}"
                                            {% if obj.status %} checked {% endif %}>

                                        </div><p></p>

                                        <div>
                                        {#float:right; #}
{#                                        position: relative;"#}

                                            <label for="selected_{{ obj.genre.genre_id }}"
                                            background-color="blue">
{#                                            style="top: -1.5px;"#}
                                            {{ obj.genre }}</label>

                                        </div><p></p><br>

                                        </div>

{#                                    </div>#}


                                    <!-- 끝 -->

{##}
{#                                            <input id="selected_{{ obj.genre.genre_id }}" type="checkbox" name="selected" value="{{ obj.genre.genre_id }}"#}
{#                                            {% if obj.status %} checked {% endif %}>#}
{#                                        <label for="selected_{{ obj.genre.genre_id }}"#}
{#                                            background-color="blue">{{ obj.genre }}</label>#}
{#                                    #}

{#                                        </div>#}
{#                                    </div>#}

{#                                        <input id="selected_{{ obj.genre.genre_id }}" type="checkbox" name="selected" value="{{ obj.genre.genre_id }}"#}
{#                                            {% if obj.status %} checked {% endif %}>#}
{#                                        <label for="selected_{{ obj.genre.genre_id }}"#}
{#                                            background-color="blue">{{ obj.genre }}</label>#}
                                    </div>
                               {% endfor %}

{#                                    {% for obj in genres %}#}
{#                                        <div class="row">#}
{#                                            <div class="col-lg-6">#}
{#                                                <div class="input-group">#}
{#                                                    <span class="input-group-addon">#}
{#                                                        <input id="selected" type="checkbox" name="selected" value="{{ obj.genre.genre_id }}"#}
{#                                                            {% if obj.status %} checked#}
{#                                                            {% endif %}>#}
{#                                                        <input type="text" class="form-control" value="{{ obj.genre }}">#}
{#                                                    </span>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endfor %}<br>#}
{#                                    <button type="submit">저장</button>#}
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input class="submit" type="submit" value="save">
                                        </div>
                                    </div>
                            </form><br><br>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

<!-- footer section-->
<footer class="ht-footer">
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>

{% endblock %}