{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- BASICS -->
<head>
    <title>CNDb: Your #1 source for Movies & TV Series</title>
	<meta charset="UTF-8">
    <script src="/static/js/menu_btn.js"></script>
    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- CSS files -->
	<link rel="stylesheet" href="/static/css/plugins.css">
	<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/static/img/cheesenacho.ico" type="image/x-icon">
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
<!-- 네비게이션 바 적용하기 -->
{% include "navbar-2.html" %}

{% block html_body %}
{% endblock %}

<!-- jQuery JS -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- STAR RATING CSS -->
<link href="{% static 'css/rating.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</body>
</html>