{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Favicon(탭) -->
    <link rel="shortcut icon" href="/static/img/cheesenacho.ico" type="image/x-icon">
    <title>CNDB Project</title>
</head>

<body>
<!-- 네비게이션 바 적용하기 -->
{% include "navbar.html" %}

{% block html_body %}
{% endblock %}

<!-- jQuery JS -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>