{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- 네비게이션 바 적용하기 -->
{% include "navbar.html" %}

<!-- 기본-->
<head>
    {% block html_header %}
    {% endblock %}

	<meta charset="UTF-8">
    <script src="/static/js/menu_btn.js"></script>
    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- CSS files -->
	<link rel="stylesheet" href="/static/css/plugins.css">
	<link rel="stylesheet" href="/static/css/style.css">

{#    <!-- FAVICON -->#}
{#    <link rel="shortcut icon" href="/static/img/cheesenacho.ico" type="image/x-icon">#}
</head>

<body>

<!--preloading-->
<div id="preloader">
    <img class="logo" src="/static/img/logo.png" width="320" height="200">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

{% block html_body %}
{% endblock %}

<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/plugins2.js"></script>
<script src="/static/js/custom.js"></script>

<!-- 별점 CSS -->
<link href="{% static 'css/rating.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- 이미지 업로드 버튼 CSS -->
<link href="{% static 'css/upload_btn.css' %}" rel="stylesheet" type="text/css"/>
<!-- 이미지 업로드 버튼 JS -->
<script src="/static/js/upload_btn.js"></script>

<!-- 찜하기 버튼 CSS -->
<link href="{% static 'css/like_btn.css' %}" rel="stylesheet" type="text/css"/>
<!-- 찜하기 버튼 JS -->
<script src="/static/js/like_btn.js"></script>

</body>
</html>