{% extends 'base.html' %}

{% block html_header %}
<title>CNDB:</title>
{% endblock %}

{% block html_body %}

<div class="slider movie-items">
    <div class="container my-3">
        <div style="color: #FD9F28;"><br><h1>Welcome to CNDB</h1></div><br><br>
            <div>
            <button type="button"
                class="redbtn"
                    style="color: #FD9F28; background-color: #233A50;
                           border-radius: .5em; border-color: #233A50;
                           border: 1px solid #0F2133;"
                    onclick="to_import()()">import 하러 가기</button><p></p>
            <div>
                <a href="{% url 'entmt_info:homepage' %}">
                <button type="button" class="redbtn"
                style="color: #FD9F28; background-color: #233A50;
                       border-radius: .5em; border-color: #233A50;
                       border: 1px solid #0F2133;"
                >homepage로 가기</button></a>
            </div>
            </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

{% endblock %}
