{% extends 'base.html' %}

{% block html_body %}
<div class="container my-3">

    {# 검색기능 #}
    {#  submit 하면 view의 e_result 함수로 가서 API 수행  #}
    {# <input type="text" name="search_word" label="Search Word">#}
    <form method="GET" action="{% url 'entmt_info:e_results' %}">
    <div id="search">
        <input name="search" type="text">
        <button class="btn btn-primary" type="submit">검색</button>
    </div>
    </form>

    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>포스터 이미지</th>
            <th>제목</th>
            <th>개봉일</th>
            <th>장르</th>
            <th>상영 시간</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                여기에 영화/드라마 정보(~5위?)
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
