<!-- NAVIGATION BAR -->
<!-- BEGIN | Header -->

<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
            <h3>Login</h3>
        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
           <div class="row">
               <label for="username">
                    Username:
{#                    <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />#}
                     <input type="text" name="username" id="username" required="required" />
                </label>
           </div>

            <div class="row">
               <label for="password">
                    Password:
{#                    <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />#}
                    <input type="password" name="password" id="password" required="required" />
                </label>
            </div>
           <div class="row">
               <button type="submit">Login</button>
           </div>
        </form>
    </div>
</div>
<!--end of login form popup-->

<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
            <form method="post" action="{% url 'users:signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
                {% include "users/form_errors.html" %}

{#            <div class="row">#}
{#                 <label for="username-2">#}
{#                    Username:#}
{#                    <input type="text" name="username" id="username-2" placeholder="" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />#}
{#                </label>#}
{#            </div>#}

            <div class="row">
                <label for="username"><div style="width:90px; height:30px; border:1px; float:left;"><br>
                    Username:</div>
                    <div style="width:265px; height:30px; border:1px; float:left;">
                    <input type="text" name="username" id="username"
                           value="{{ form.username.value|default_if_none:'' }}"></div>
                </label>
            </div>

            <div class="row">
                <label for="password1"><div style="width:90px; height:30px; border:1px; float:left;"><br>
                    Password:</div>
                    <div style="width:265px; height:30px; border:1px; float:left;">
                    <input type="password" name="password1" id="password1"
                           value="{{ form.password1.value|default_if_none:'' }}"></div>
                </label>
            </div>

            <div class="row">
                <label for="password2"><div style="width:90px; height:30px; border:1px; float:left;"><br>
                    re-type Password:</div>
                    <div style="width:265px; height:30px; border:1px; float:left;">
                    <input type="password" name="password2" id="password2"
                           value="{{ form.password2.value|default_if_none:'' }}"></div>
                </label>
            </div>

            <div class="row">
                <label for="email"><div style="width:90px; height:30px; border:1px; float:left;"><br>
                    your email:</div>
                    <div style="width:265px; height:30px; border:1px; float:left;">
                    <input type="text" name="email" id="email"
                           value="{{ form.email.value|default_if_none:'' }}"></div>
                </label>
            </div>

            <!-- 전화번호 추가 -->
            <div class="row">
                <label for="u_mobile"><div style="width:90px; height:30px; border:1px; float:left;"><br>
                    mobile:</div>
                    <div style="width:265px; height:30px; border:1px; float:left;">
                    <input type="text" name="u_mobile" id="u_mobile"
                           value="{{ form.u_mobile.value|default_if_none:'' }}"></div>
                </label>
            </div><br>
           <div class="row">
             <button type="submit">sign up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
                    <a href="{% url "entmt_info:homepage" %}"><img class="logo" src="/static/img/logo.png" width="320" height="200"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a href="{% url "entmt_info:homepage" %}" class="btn btn-default">
							Home
							</a>
						</li>
{#						<li class="dropdown first">#}
{#							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">#}
{#							movies<i class="fa fa-angle-down" aria-hidden="true"></i>#}
{#							</a>#}
{#							<ul class="dropdown-menu level1">#}
{#								<li class="dropdown">#}
{#									<a href="#" class="dropdown-toggle" data-toggle="dropdown" >Movie grid<i class="ion-ios-arrow-forward"></i></a>#}
{#									<ul class="dropdown-menu level2">#}
{#										<li><a href="moviegrid.html">Movie grid</a></li>#}
{#										<li><a href="moviegridfw.html">movie grid full width</a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li><a href="movielist.html">Movie list</a></li>#}
{#								<li><a href="moviesingle.html">Movie single</a></li>#}
{#								<li class="it-last"><a href="seriessingle.html">Series single</a></li>#}
{#							</ul>#}
{#						</li>#}
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">

                    <!-- 로그인 상태일 때 우측에 마이페이지, 로그아웃 기능 활성화 -->
                    {% if user.is_authenticated %}
                    <li class="nav-link"><a href="{% url 'users:favorite' %}">{{ user.username }}'s My page</a></li>
                    <li class=""><a href="{% url 'users:logout' %}">Log Out</a></li>

                    <!-- 로그아웃 상태일 때 우측에 로그인 기능 활성화 -->
                    {% else %}
                    <li class="loginLink"><a href="#">LOG In</a></li>
                    <li class="btn signupLink"><a href="#">sign up</a></li>
                    {% endif %}
                    </ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>

    {# 검색기능 #}
    {#  submit 하면 view의 e_result 함수로 가서 API 수행  #}
    {# <input type="text" name="search_word" label="Search Word">#}
    <form method="GET" action="{% url 'entmt_info:e_results' %}">
    <div class="top-search">
        <input name="search" type="text" placeholder="Search for a movie or a TV Show..." type="submit">
    </div>
    </form>
	</div>
</header>
<!-- END | Header -->